# Dependencies
node_modules/
**/node_modules/

# Environment Variables
Backend/.env
Frontend/.env
.env
**/.env

# Build Files
dist/
build/

# Uploads
uploads/

# Logs
*.log

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db